{% extends "base.html.twig" %}

{% block body %}
    <h1>Supprimer une soirée {{ soiree.nom }}</h1>

    {{ form_start(formulaire) }}

    <div class="form-group">
        <label for="">Nom</label>
        {{ form_widget(formulaire.nom) }}
    </div>

    <button type="submit" class="btn btn-success">Valider la suppression</button>

    {{ form_end(formulaire) }}

{% endblock %}