{% extends 'base.html.twig' %}

{% block title %}Qui Doit Quoi ?{% endblock %}

{% block body %}

    <div class="jumbotron container_pres" align="center">
        <h1 class="display-5">Comment ça marche ?</h1>
        <p class="lead">Qui Doit Quoi ? <br>Créer un tableau vous permettant de voir les dépenses d'une soirée.</p>
        <hr class="my-4">
        <p>
            <b>Ne perdez plus votre temps à calculer ce qui dois être remboursé.</b>
            <br>Avec Qui Doit Quoi, tout devient plus simple!
            <br>Créer votre soirée, ajouter le nom des participants, le montant pour chaque participant et nous calculons le reste pour vous !
            <br>Grâce à la création d'un compte vous avez la possibilité de voir les récapitulatifs d'anciennes soirées.
        </p>
    </div>
    <div>
        <a class="btn btn-primary btn-soiree" href="{{ path('soiree_ajouter') }}" role="button">Créer une soirée</a>
    </div>

{% endblock %}